/* General styling */

body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: white;

}

ul {
    list-style-type:none;
    padding-left: 16px;
    display: flex;
    gap: 10px;
}


/* Section 1 styling */

header{
    display: flex;
    background-color: #1f2937;
    color: white;
    font-weight: bold;
    align-items: center; 
}

header > h3{
    padding-left: 80px;
    margin-right: auto;
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
}

nav{
    display: flex;
    justify-content: center;
    flex:0 1 750px;
}

.section1 {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 80px;
    display: flex;
    color: white;
}

.website-info{
    flex:0 1 380px;
}

.image1{
    flex:1 1 500px;
    margin-left: 30px;
}

.section1 h1{
    font-size: 48px;
}

button{
    background-color: #3882f6;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 8px 25px;
    border-radius: 5px;
    cursor: pointer;
}

/* Section 2 styling */

h2 {
    display: flex;
    justify-content: center;
    color:#1f2937;
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 80px;
    padding-right: 80px;
    padding-left: 80px;
    background-color: #f3f4f6;
}

.section2 .images{
    display: flex;
    flex-wrap: wrap;
    border-color: #3882F6;
    justify-content: center;
    gap: 16px;
    gap: 40px;
}

.section2 .images div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    
}

.section2 .images img{
    display: flex;
    border: 3px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 12px;
}

/* Section 3 styling */

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
    background-color:#e5e7eb;
}

.quote {
    display: flex;
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    color: #1f2937;
    width: 75%;
    height: auto;
    margin: 0px;
}

.author {
    display:flex;
    font-size: 12px;
    font-weight: 900;
    color: #1f2937;
    justify-content: flex-end;
    width: 75%;
    
}



